/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

page-max-witdh = 1400
inner-page-width-mobile = 85
inner-page-width-tablet = 80
inner-page-width-desktop = 75

basefont = 'Gotham'
secondaryfont = 'Volkhov'

basefontsize = 14

basecolor-bright = #8aa8b5
basecolor-semi-bright = #8fa5ac
basecolor =  #748D98
basecolor-semi-dark = #486370
basecolor-dark = #445861

secondarycolor = #D8B359
secondarycolor-bright = #e8c050

white = #fff
black = #000
gray = #f1f1f1

alt-basecolor = #8BC5BF
alt-secondarycolor = #E7B44C
